/* variables */

/* styles */
.expenses {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__date-banner {
    margin: 0 -20px;
    padding: 7px 20px 5px;
    border-top: 2px solid $color-lighter;
    color: $color-light;
    font-size: 9px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__item {
    margin: 0;
  }
}
