.expense {
  position: relative;
  overflow: hidden;

  /* editing form */
  &__update-form {
    position: absolute;
    left: 50%;
    bottom: 120vh;
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
    transition: 0.5s 2.5s all ease-in-out;
    display: none;
    width: 94vw;
    height: 94vh;
    padding: 4vw;
    background: $color-lightest;
    border: 2px solid color( $color-lightest blackness(+ 10%) );
    border-radius: 10px;
    box-shadow: 0 0 5px color($color-darkest alpha(10%) );
    pointer-events: none;
    z-index: 10;
  }

  /* editing controls */
  &__controls {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
  }

  &__control {
    display: inline-block;
    width: 15px;
    margin: 0 5px 0 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
  }

  /* show controls/hide spans only when editing */
  &--editing {
    overflow: visible;

    .expense__display {
      display: none;
    }

    .expense__update-form {
      display: block;
      bottom: 50%;
      opacity: 1;
      transform: translate3d(-50%, 50%, 0);
      pointer-events: auto;
    }
  }
}

/* React Animation Triggers */
.expense-enter,.expense-appear {
  opacity: 0;

  &&-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}

.expense-leave {
  opacity: 1;

  &&-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}
