.expense {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 0 -20px;
  padding: 20px;
  border-top: 1px solid $color-lighter;
  overflow: hidden;
  transition: 250ms all linear;

  &:last-child {
    border-bottom: 1px solid $color-lighter;
  }

  &:hover {
    background-color: color( $color-lightest blackness(+ 2%) );
  }

  /* expense display */
  &__display {
    position: relative;
    flex: 2 80%;
    display: block;
    margin-right: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__paidby {
    &::after {
      content: ' paid ';
    }
  }

  &__vendor {
    &::before {
      content: ' to ';
    }
  }

  &__category {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    line-height: 2;
    color: $color-light;
  }

  /* editing form */
  &__update-form {/*
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 10vw;
    background: $color-lightest;
    pointer-events: none;
    z-index: 10;*/
  }

  /* editing controls */
  &__controls {
    flex: 1 20px;
    max-width: 20px;
    margin: 0;
    opacity: 0;
    transition: 250ms opacity linear;

    * {
      margin: 0;
    }
  }

  &:hover &__controls {
    opacity: 1;
  }

  &__control {
    display: block;
    width: 20px;
    margin: 0;
    background: transparent;
    border: none;
    color: $color-light;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transition: 250ms color linear;

    &:hover,&:focus {
      color: $color-dark;
      outline: none;
    }
  }
}

/* React Animation Triggers */
.expense-enter {
  opacity: 0;

  &&-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}

.expense-leave {
  opacity: 1;

  &&-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}
